body {
    background-color: crimson;  
}
.kompetencii-fon {background-color: darkturquoise;}
header {
text-align: center;
background-color: darkturquoise;  
height: 200px;
background-repeat: no-repeat;
background-position: left;
background-attachment: fixed;
background-size: cover;
padding-left: 70px; 
padding-top: 100p;    
}
.nav-wt {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap:nowrap;
    align-items:center;
    background-color:#c4dfff;
    }
.nav-wt-1 {
    list-style-type:none;
    margin:0 auto;
    border:2px solid blue;
    padding:5px;
    text-transform:uppercase;
    background-color:#c4ffe4;
    }
.nav-wt-1:hover
    {
    background-color:lightgreen;
    }
h2 {
    text-align:center;
    font-weight:bold;
    }
.centre-img {
        display:block;
        margin:auto;
        width:200px;
        }
.border {
     border: 3px solid #42aaff;
     width:100px;
     
     }  
