body {
    background-color: crimson;  
}

header {
text-align: center;
background-color: darkturquoise;  
height: 200px;
background-repeat: no-repeat;
background-position: left;
background-attachment: fixed;
background-size: cover;
padding-left: 70px; 
padding-top: 100p;    
}
.nav-wt {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap:nowrap;
    align-items:center;
    background-color:#c4dfff;
    }
.nav-wt-1 {
    list-style-type:none;
    margin:0 auto;
    border:2px solid blue;
    padding:5px;
    text-transform:uppercase;
    background-color:#c4ffe4;
    }
.nav-wt-1:hover
    {
    background-color:lightgreen;
    }
h2 {
    text-align:center;
    font-weight:bold;
    }
.centre-img {
        display:block;
        margin:auto;
        width:200px;
    }
.border {
     border: 3px solid #ff0088;
     width:240px;
     height:240px;
     }  
.div-footer {
    background-color: darkturquoise;   
}
.btn {
    padding: 0.5em 1.5em; 
    font-size: 0.9em; 
    color: #42aaff; 
    background-color: #ff1f40; 
    border: 2px solid #42aaff;
    border-radius: 0.4em; 
    margin-bottom: 1rem; 
    margin-right: 1rem; 
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.8);
   }
   
@font-face {
    font-display: swap;
    font-family: 'Spline Sans Mono';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/spline-sans-mono-v10-latin_latin-ext-500italic.woff2') format('woff2'); 
  }