body {
    background-image: src=img/фон.png
}
header {
text-align: center;
background-image: url(../img/фон.png) ;    
height: 400px;
background-repeat: no-repeat;
background-position: left;
background-color: #020305; 
background-attachment: fixed;
background-size: cover;
padding-left: 250px; 
padding-top: 100p;    
}
.nav-wt {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap:nowrap;
    align-items:center;
    background-color:#c4dfff;
    }
.nav-wt-1 {
    list-style-type:none;
    margin:0 auto;
    border:2px solid blue;
    padding:5px;
    text-transform:uppercase;
    background-color:#c4ffe4;
    }
.nav-wt-1:hover
    {
    background-color:lightgreen;
    }